
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

//React-bootstrap-table-2
@import "~react-bootstrap-table-next/dist/react-bootstrap-table2.css";
@import "~react-bootstrap-table2-filter/dist/react-bootstrap-table2-filter.css";
@import "~react-bootstrap-table2-paginator/dist/react-bootstrap-table2-paginator.css";

//RC-Slider and RC-Tooltip
@import "~rc-slider/assets/index.css";
@import "~rc-tooltip/assets/bootstrap.css";

/*body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}*/

main > .container {
  padding: 56px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}
